<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eoms.cn.repository.mapper.EverydayEeveryseatAchievementMapper">
  <resultMap id="BaseResultMap" type="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="dynamic1" jdbcType="VARCHAR" property="dynamic1" />
    <result column="dynamic2" jdbcType="VARCHAR" property="dynamic2" />
    <result column="dynamicn" jdbcType="VARCHAR" property="dynamicn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, product_id, dynamic1, dynamic2, dynamicn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_everyday_everyseat_achievement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from p_everyday_everyseat_achievement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    insert into p_everyday_everyseat_achievement (id, project_id, product_id, 
      dynamic1, dynamic2, dynamicn
      )
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{dynamic1,jdbcType=VARCHAR}, #{dynamic2,jdbcType=VARCHAR}, #{dynamicn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    insert into p_everyday_everyseat_achievement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="dynamic1 != null">
        dynamic1,
      </if>
      <if test="dynamic2 != null">
        dynamic2,
      </if>
      <if test="dynamicn != null">
        dynamicn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="dynamic1 != null">
        #{dynamic1,jdbcType=VARCHAR},
      </if>
      <if test="dynamic2 != null">
        #{dynamic2,jdbcType=VARCHAR},
      </if>
      <if test="dynamicn != null">
        #{dynamicn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    update p_everyday_everyseat_achievement
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="dynamic1 != null">
        dynamic1 = #{dynamic1,jdbcType=VARCHAR},
      </if>
      <if test="dynamic2 != null">
        dynamic2 = #{dynamic2,jdbcType=VARCHAR},
      </if>
      <if test="dynamicn != null">
        dynamicn = #{dynamicn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    update p_everyday_everyseat_achievement
    set project_id = #{projectId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      dynamic1 = #{dynamic1,jdbcType=VARCHAR},
      dynamic2 = #{dynamic2,jdbcType=VARCHAR},
      dynamicn = #{dynamicn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>