<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eoms.cn.repository.mapper.EverydayEeveryseatAchievementMapper">
  <resultMap id="BaseResultMap" type="eoms.cn.repository.entity.EverydayEeveryseatAchievement">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="dynamic1" jdbcType="VARCHAR" property="dynamic1" />
    <result column="dynamic2" jdbcType="VARCHAR" property="dynamic2" />
    <result column="dynamicn" jdbcType="VARCHAR" property="dynamicn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, product_id, dynamic1, dynamic2, dynamicn
  </sql>
</mapper>